{% extends "base.html" %}

{% block title %}KNKTechnology - Issue Tracker{% endblock %}

{% block header %}
<div id="header">
    <h1>KNKTechnology - Issue Tracker</h1>
</div>
{% endblock %}

{% block bodyclass %} class="home"{% endblock %}

{% block home_nav %} class="this"{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="primary" class="col">
        <p class="btn"><a href="{{link}}">Login or Sign up</a></p>
        </div>
    </div>
</div>
{% endblock %}